@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@theme {
    --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-text: #000000;
    --color-background: #ffffff;
    --color-primary: #111111;
    --color-secondary: #f1f1f1;
    --color-accent: #0070f3;
}

.dark {
    --color-text: #ffffff;
    --color-background: #000000;
    --color-primary: #f1f1f1;
    --color-secondary: #111111;
    --color-accent: #0070f3;
}
