@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Geist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji";
    --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-text: oklch(0 0 0);
    --color-background: oklch(1 0 0);
    --color-primary: oklch(0.2 0 0);
    --color-secondary: oklch(0.96 0 0);
    --color-accent: oklch(0.57 0.2 263.4);
}

.dark {
    --color-text: oklch(1 0 0);
    --color-background: oklch(0 0 0);
    --color-primary: oklch(0.96 0 0);
    --color-secondary: oklch(0.2 0 0);
    --color-accent: oklch(0.57 0.2 263.4);
}
