@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");
@import "tailwindcss";

@theme {
    --color-text: #d1d3ff;
    --color-background: #00001a;
    --color-primary: #767dfe;
    --color-secondary: #3f01b2;
    --color-accent: #8625fe;
}
