@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");
@import "tailwindcss";

@theme {
    --color-text: #d1d3ff;
    --color-background: #00001a;
    --color-primary: #767dfe;
    --color-secondary: #3f01b2;
    --color-accent: #8625fe;
}

body {
    font-family: "Inter";
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Inter";
    font-weight: 700;
}

html {
    font-size: 100%;
} /* 16px */

h1 {
    font-size: 3.366rem; /* 53.92px */
}

h2 {
    font-size: 2.525rem; /* 40.32px */
}

h3 {
    font-size: 1.894rem; /* 30.24px */
}

h4 {
    font-size: 1.421rem; /* 22.72px */
}

h5 {
    font-size: 1.066rem; /* 17.12px */
}

small {
    font-size: 0.6rem; /* 9.6px */
}
