:root {
    --primary-color: #22223b;
    --rgb-primary-color: 34, 34, 59;
    --secondary-color: #f2e9e4;
    --rgb-secondary-color: 242, 233, 228;
    --accent-color: #907ad6;
    --rgb-accent-color: 144, 122, 214;
    --h1-size: 3.75rem;
    --p-size: 1.25rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    /* font-family: 'Nunito', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
    font-family: "Roboto", sans-serif;
}

p,
ul,
li {
    font-family: "Nunito", sans-serif;
}

header {
    position: sticky;
    top: -100px;
    width: 100%;
    color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    transition: top 0.3s ease 0s;
}

.logo {
    letter-spacing: 0.2rem;
}

.logo a {
    color: var(--secondary-color);
    transition: all 0.3s ease 0s;
}

.logo a:hover {
    color: var(--accent-color);
}

.nav-items {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links {
    padding: 15px 20px;
    color: var(--secondary-color);
    opacity: 0.6;
    transition: all 0.3s ease 0s;
}

.nav-links:hover {
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.contact-btn {
    transition: all 0.3s ease 0s;
    letter-spacing: 0.05rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 15px 25px;
}

.contact-btn:hover {
    letter-spacing: 0.2rem;
}

.hero {
    margin-top: -106px;
    background-color: var(--primary-color);
    background-image: url("../img/blob.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    color: var(--accent-color);
    font-size: var(--h1-size);
    margin-bottom: 15px;
}

.hero-text p {
    color: var(--secondary-color);
    font-size: 1.75rem;
}

.hero-image img {
    height: 50vh;
    transition: transform 0.3s ease 0s;
}

.hero-image img:hover {
    transform: rotate(-5deg);
}

section {
    padding: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
}

section:nth-child(even) {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

section:nth-child(odd) {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

section img {
    margin-bottom: 15px;
}

section h1 {
    font-size: var(--h1-size);
    color: var(--accent-color);
    margin-bottom: 15px;
}

section p {
    width: 60%;
    font-size: var(--p-size);
}

.avatar {
    height: 50%;
    border-radius: 100%;
    transition: all 0.3s ease 0s;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.avatar:hover {
    height: 55%;
}

.project-list {
    display: flex;
    gap: 20px;
}

.project-list li {
    border: 1px solid white;
    padding: 16px;
    border-radius: 4px;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 125px;
}

.social-list a {
    color: var(--primary-color);
    display: flex;
    gap: 15px;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.social-list a:hover {
    color: var(--accent-color);
    transform: scale(1.2);
}

.contact-me form {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: left;
}

.control-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.control-wrapper div {
    flex: 1;
}

.contact-me form label {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 10px;
    display: block;
    color: var(--secondary-color);
}

.contact-me form input {
    font-family: "Nunito", sans-serif;
    width: 100%;
    min-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.contact-me form input:focus,
.contact-me form textarea:focus {
    outline: none;
}

.contact-me form textarea {
    font-family: "Nunito", sans-serif;
    resize: none;
    width: 100%;
    min-width: 300px;
    max-width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: var(--primary-color);
    height: calc(100% - 40px);
}

.word-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 1rem;
}

.cta {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    cursor: pointer;
    padding: 15px 25px;
    border: none;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.contact-me .cta {
    margin-top: 10px;
}

.cta:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    letter-spacing: 0.14rem;
}

.active {
    text-decoration: underline;
}

.sticky {
    top: 0;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
