@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap');

:root {
    --p-color: #222831;
    --s-color: #00ADB5;
    --rgb-s-color: 0, 173, 181;
    --font-color: #EEEEEE;
    --rgb: 118, 76, 41;
    --h1-size: 3rem;
    --h2-size: 2rem;
    --p-size: 1.5rem;
}

/* Elements */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

h1, h2, h3, h4, h5, h6, a{
    font-family: Montserrat;
}

p {
    font-family: Hind;
}

header {   
    position: absolute;
    width: 100%;
    color: var(--font-p-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

/* Ids */

#logo {
    letter-spacing: 0.3rem;
}

#logo a {
    color: var(--s-color);
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#hero-text h1 {
    color: var(--s-color);
    font-size: var(--h1-size);
}

#hero-text p {
    color: var(--font-color);
    font-size: var(--p-size);
    margin-top: 25px;
}

#hero-image img{
    transition: all 0.3s ease 0s;
    height: 40vh;
}

#hero-image img:hover {
    height: 41vh;
}

/* Classes */

.nav-items {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links {
    padding: 15px 20px;
    transition: all 0.3s ease 0s;
    color: var(--font-color);
}

.nav-links:hover {
    color: var(--s-color);
}

.cta {
    transition: all 0.3s ease 0s;
    background-color: rgba(var(--rgb-s-color), 1);
    color: var(--font-color);
    border: none;
    border-radius: 50px;
    padding: 15px 25px;
}

.cta:hover {
    background-color: rgba(var(--rgb-s-color), 0.7);
}